<section class="about">
	<div class="container-about">
		<h2 class="about-title">About us</h2>
		<div class="container-about-wrap"></div>
			<p class="about-subtitle-one">Welcome to our premium watch collection, where luxury and style meet
				functionality
				and precision. Our selection of
				timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a
				reliable
				and stylish accessory on your wrist.</p>
			<p class="about-subtitle-two">Welcome to our premium watch collection, where luxury and style meet
				functionality
				and precision. Our selection of
				timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a
				reliable
				and stylish accessory on your wrist.</p>
				</div>
		  <img class="about-gif" src="./img/img-new-about/watchspot.gif" alt="I am gifka" width="335"
			height="365">
	</div>
</section>