<section class="catalog">
    <div class="container">
        <h2 id="about" class="catalog-tytle">Catalog</h2>
        <ul class="catalog-watches-list list">
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-1-desk.jpg 1x, 
                                    ./img/catalog/watch-1-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-1-tab.jpg 1x, 
                                        ./img/catalog/watch-1-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-1-mob.jpg 1x, 
                                        ./img/catalog/watch-1-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-1-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Tube Watch S42 Date Steel With Black Case</h3>
                        <p class="catalog-watches-price">€395</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-2-desk.jpg 1x, 
                                    ./img/catalog/watch-2-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-2-tab.jpg 1x, 
                                        ./img/catalog/watch-2-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-2-mob.jpg 1x, 
                                        ./img/catalog/watch-2-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-2-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Avondale Watch Police For Men</h3>
                        <p class="catalog-watches-price">€800</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-3-desk.jpg 1x, 
                                    ./img/catalog/watch-3-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-3-tab.jpg 1x, 
                                        ./img/catalog/watch-3-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-3-mob.jpg 1x, 
                                        ./img/catalog/watch-3-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-3-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                        <p class="catalog-watches-price">€600</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-4-desk.jpg 1x, 
                                    ./img/catalog/watch-4-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-4-tab.jpg 1x, 
                                        ./img/catalog/watch-4-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-4-mob.jpg 1x, 
                                        ./img/catalog/watch-4-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-4-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Diver 300M Co-Axial Master Chronometer </h3>
                        <p class="catalog-watches-price">€1400</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-5-desk.jpg 1x, 
                                    ./img/catalog/watch-5-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-5-tab.jpg 1x, 
                                        ./img/catalog/watch-5-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-5-mob.jpg 1x, 
                                        ./img/catalog/watch-5-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-5-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Taman Watch By Police For Men</h3>
                        <p class="catalog-watches-price">€500</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-6-desk.jpg 1x, 
                                    ./img/catalog/watch-6-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-6-tab.jpg 1x, 
                                        ./img/catalog/watch-6-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-6-mob.jpg 1x, 
                                        ./img/catalog/watch-6-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-6-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Malawi Watch Police For Men</h3>
                        <p class="catalog-watches-price">€555</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-7-desk.jpg 1x, 
                                    ./img/catalog/watch-7-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-7-tab.jpg 1x, 
                                        ./img/catalog/watch-7-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-7-mob.jpg 1x, 
                                        ./img/catalog/watch-7-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-7-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Diver 300M Co-Axial Master Chronometer </h3>
                        <p class="catalog-watches-price">€1200</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <picture>
                                <source srcset="
                                        ./img/catalog/watch-8-desk.jpg 1x, 
                                        ./img/catalog/watch-8-desk-2x.jpg 2x
                                    " media="(min-width: 1280px)" />

                                <source srcset="
                                            ./img/catalog/watch-8-tab.jpg 1x, 
                                            ./img/catalog/watch-8-tab-2x.jpg 2x
                                        " media="(min-width: 768px)" />

                                <source srcset="
                                            ./img/catalog/watch-8-mob.jpg 1x, 
                                            ./img/catalog/watch-8-mob-2x.jpg 2x
                                        " media="(max-width: 767px)" />
                                <img src="./img/catalog/watch-8-mob.jpg" alt="watch-catalog">
                            </picture>
                            <ul class="catalog-overlay-info">
                                <li class="catalog-overlay-info-list list">
                                    <h4 class="overlay-description">Description</h4>
                                    <p class="overlay-description-text">Richly detailed with an understated design - the
                                        Police Men’s Greenlane watch.</p>
                                </li>
                                <li class="catalog-overlay-info-list list">
                                    <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                    <p class="overlay-gender-text">Gender: man
                                        Size: 46x54.5mm
                                        Case Colour: Steel
                                        Band Material: Metal
                                        Case Material: Metal
                                        Features: Multifunction
                                        Water Resistant: 5 (ATM)
                                        Band Colour: Steel</p>
                                </li>
                            </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Greenlane Watch By Police For Men</h3>
                        <p class="catalog-watches-price">€1000</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item-desktop">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-9-desk.jpg 1x, 
                                    ./img/catalog/watch-9-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-9-tab.jpg 1x, 
                                        ./img/catalog/watch-9-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-9-mob.jpg 1x, 
                                        ./img/catalog/watch-9-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-9-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Squardrc 5402 Chrono</h3>
                        <p class="catalog-watches-price">€359</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item-desktop">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-10-desk.jpg 1x, 
                                    ./img/catalog/watch-10-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-10-tab.jpg 1x, 
                                        ./img/catalog/watch-10-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-10-mob.jpg 1x, 
                                        ./img/catalog/watch-10-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-10-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                        <p class="catalog-watches-price">€400</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item-desktop">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-11-desk.jpg 1x, 
                                    ./img/catalog/watch-11-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-11-tab.jpg 1x, 
                                        ./img/catalog/watch-11-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-11-mob.jpg 1x, 
                                        ./img/catalog/watch-11-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-11-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Citizen</h3>
                        <p class="catalog-watches-price">€519</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item-desktop">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay">
                        <picture>
                            <source srcset="
                                    ./img/catalog/watch-12-desk.jpg 1x, 
                                    ./img/catalog/watch-12-desk-2x.jpg 2x
                                " media="(min-width: 1280px)" />

                            <source srcset="
                                        ./img/catalog/watch-12-tab.jpg 1x, 
                                        ./img/catalog/watch-12-tab-2x.jpg 2x
                                    " media="(min-width: 768px)" />

                            <source srcset="
                                        ./img/catalog/watch-12-mob.jpg 1x, 
                                        ./img/catalog/watch-12-mob-2x.jpg 2x
                                    " media="(max-width: 767px)" />
                            <img src="./img/catalog/watch-12-mob.jpg" alt="watch-catalog">
                        </picture>
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Armani Exchange</h3>
                        <p class="catalog-watches-price">€400</p>
                    </div>
                </a>
            </li>
        </ul>
        <button class="buy-now-btn" data-modal-open type="button">Buy now</button>
        </button>
</section>