<section class="catalog">
    <div class="container">
        <h2 id="catalog" class="catalog-tytle">Catalog</h2>
        <ul class="catalog-watches-list list">
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-1-2x.jpg 2x"
                            src="./img/catalog/watch-1.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Tube Watch S42 Date Steel With Black Case</h3>
                        <p class="catalog-watches-price">€395</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-2-2x.jpg 2x"
                            src="./img/catalog/watch-2.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Avondale Watch Police For Men</h3>
                        <p class="catalog-watches-price">€800</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-3-2x.jpg 2x"
                            src="./img/catalog/watch-3.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                        <p class="catalog-watches-price">€600</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-4-2x.jpg 2x"
                            src="./img/catalog/watch-4.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Diver 300M Co-Axial Master Chronometer </h3>
                        <p class="catalog-watches-price">€1400</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-5-2x.jpg 2x"
                            src="./img/catalog/watch-5.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Taman Watch By Police For Men</h3>
                        <p class="catalog-watches-price">€500</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-6-2x.jpg 2x"
                            src="./img/catalog/watch-6.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Malawi Watch Police For Men</h3>
                        <p class="catalog-watches-price">€555</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-7-2x.jpg 2x"
                            src="./img/catalog/watch-7.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Diver 300M Co-Axial Master Chronometer </h3>
                        <p class="catalog-watches-price">€1200</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-8-2x.jpg 2x"
                            src="./img/catalog/watch-8.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Greenlane Watch By Police For Men</h3>
                        <p class="catalog-watches-price">€1000</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item-desktop">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-9-2x.jpg 2x"
                            src="./img/catalog/watch-9.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Squardrc 5402 Chrono</h3>
                        <p class="catalog-watches-price">€359</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item-desktop">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-10-2x.jpg 2x"
                            src="./img/catalog/watch-10.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                        <p class="catalog-watches-price">€400</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item-desktop">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-11-2x.jpg 2x"
                            src="./img/catalog/watch-11.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Citizen</h3>
                        <p class="catalog-watches-price">€519</p>
                    </div>
                </a>
            </li>
            <li class="catalog-watches-item-desktop">
                <a href="" class="catalog-overlay-link link">
                    <svg class="catalog-icons" width="24px" height="24px">
                        <use href="./img/catalog/icons.svg#icon-heart"></use>
                    </svg>
                    <div class="watches-overlay"><img srcset="./img/catalog/watch-12-2x.jpg 2x"
                            src="./img/catalog/watch-12.jpg" alt="Watch-1" width="276" height="274" />
                        <ul class="catalog-overlay-info">
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">Description</h4>
                                <p class="overlay-description-text">Richly detailed with an understated design - the
                                    Police Men’s Greenlane watch.</p>
                            </li>
                            <li class="catalog-overlay-info-list list">
                                <h4 class="overlay-description">DETAILS & FEATUREStion</h4>
                                <p class="overlay-gender-text">Gender: man
                                    Size: 46x54.5mm
                                    Case Colour: Steel
                                    Band Material: Metal
                                    Case Material: Metal
                                    Features: Multifunction
                                    Water Resistant: 5 (ATM)
                                    Band Colour: Steel</p>
                            </li>
                        </ul>
                    </div>
                    <div class="catalog-watches-name">
                        <h3 class="catalog-watches-tytle">Armani Exchange</h3>
                        <p class="catalog-watches-price">€400</p>
                    </div>
                </a>
            </li>
        </ul>
        <button class="buy-now-btn" data-modal-open type="button">Buy now</button>
        </button>
    </div>
</section>