<div class="header-container">
  <nav class="header-nav">
    <a class="header-logo header-link header-a" href="#">
      <!-- <svg class="header-logo-img">
          <use href="./img/icons.svg#logo-10"></use>
        </svg> -->
      <img class="header-logo-img" src="./img/header/logo.png" alt="logo" />

      <!-- <picture>
          <source
            srcset="./img/header/logo-desktop.png"
            media="(min-width: 1280px)"
            width="19px"
            height="19px"
          />
          <source
            srcset="./img/header/logo-tablet.png"
            media="(min-width: 768px)"
            width="14px"
            height="14px"
          />
          <source
            srcset="./img/header/logo-tablet.png"
            media=""
            width="14px"
            height="14px"
          />
          <img
            class="header-logo-img"
            src="./img/header/logo-tablet.png1"
            width="14px"
            height="14px"
          />
        </picture> -->

      <span class="header-logo-text">thewatchspot</span>
    </a>
    <ul class="header-menu header-list">
      <li class="header-menu-item">
        <a class="header-menu-link header-link header-a" href="#about-us-1"
          >about us</a
        >
      </li>
      <li class="header-menu-item">
        <a class="header-menu-link header-link header-a" href="#catalog-1"
          >catalog</a
        >
      </li>
      <li class="header-menu-item">
        <a class="header-menu-link header-link header-a" href="#sale-1">sale</a>
      </li>
    </ul>
  </nav>

  <address class="header-address">
    <a class="header-contact-link header-a" href="tel:+380684439426"
      >+380 (68) 443-94-26</a
    >
  </address>

  <button type="button" class="mobile-menu-open-button" data-menu-open>
    <svg class="mobile-menu-open-icon">
      <use href="./img/icons.svg#gg_menu-left"></use>
    </svg>
  </button>
</div>
