<div class="header-container">
  <nav class="header-nav">
    <a class="header-logo header-link header-a" href="#">
      <svg class="header-logo-img">
        <use href="./img/header/sprite.svg#logo-10"></use>
      </svg>
      <span class="header-logo-text">thewatchspot</span>
    </a>
    <ul class="header-menu header-list">
      <li class="header-menu-item">
        <a class="header-menu-link header-link header-a" href="#about"
          >about us</a
        >
      </li>
      <li class="header-menu-item">
        <a class="header-menu-link header-link header-a" href="#catalog"
          >catalog</a
        >
      </li>
      <li class="header-menu-item">
        <a class="header-menu-link header-link header-a" href="#sale">sale</a>
      </li>
    </ul>
  </nav>

  <address class="header-address">
    <a class="header-contact-link header-a" href="tel:+380684439426"
      >+380 (68) 443-94-26</a
    >
  </address>

  <button type="button" class="mobile-menu-open-button" data-menu-open>
    <svg class="mobile-menu-open-icon">
      <use href="./img/header/sprite.svg#gg_menu-left"></use>
    </svg>
  </button>
</div>
