<section class="new">
	<div class="container">
		<div class="section-new">
			<p class="section-new-subtitle">New watches</p>
			<h3 class="section-new-title">Green And Bronze—The Match Made In Heaven</h3>
		</div>
		<ul class="new-list list">
			<li class="new-item">
				<picture>
					<source srcset="./img/img-new-about/new9-1xd.jpg 1x, ./img/img-new-about/new9-2xd.jpg 2x" media="(min-width: 1280px)">
					<source srcset="./img/img-new-about/new9-1xt.jpg 1x, ./img/img-new-about/new9-2xt.jpg 2x" media="(min-width: 768px)">
					<source srcset="./img/img-new-about/new9-1xm.jpg 1x, ./img/img-new-about/new9-2xm.jpg 2x" media="(max-width: 767px)">
					<img src="./img/img-new-about/new9-1xd.jpg" alt="The image of the clock on the hand" width="576" height="422">
				</picture>
			</li>
			<li class="new-item">
				<picture>
					<source srcset="./img/img-new-about/new8-1xd.jpg 1x, ./img/img-new-about/new8-2xd.jpg 2x" media="(min-width: 1280px)">
					<source srcset="./img/img-new-about/new8-1xt.jpg 1x, ./img/img-new-about/new8-2xt.jpg 2x" media="(min-width: 768px)">
					<source srcset="./img/img-new-about/new8-1xm.jpg 1x, ./img/img-new-about/new8-2xm.jpg 2x" media="(max-width: 767px)">
					<img src="./img/img-new-about/new8-1xd.jpg" alt="Clock image" width="576" height="422">
				</picture>
			</li>
		</ul>
	</div>
</section>