<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css" integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/sale.css">
</head>
<body>
    <section class="sale">
        <div class="container">
            <h2 class="sale-title">Sale</h2>
            <div class="sale-blocks">
                <div class="sale-watch-img">
                    <ul class="sale-watch-block">
                        <li class="sale-watch-1">
                            <picture>
                                <source
                                    srcset="../img/sale/watch-sale-des-11.jpg 1x,
                                            ../img/sale/watch-sale-des-12.jpg 2x"
                                    media="(min-width: 1280px)"
                                />
                                <source
                                    srcset="../img/sale/watch-sale-tab-11.jpg 1x,
                                            ../img/sale/watch-sale-tab-12.jpg 2x"
                                    media="(min-width: 768px)"
                                />
                                <source
                                    srcset="../img/sale/watch-sale-mob-11.jpg 1x,
                                            ../img/sale/watch-sale-mob-12.jpg 2x"
                                    media="(max-width: 374px)"
                                />
                                <img src="../img/sale/watch-sale-mob-11.jpg" alt="watch" width="80">
                            </picture>
                        </li>
                        <li class="sale-watch-1">
                            <picture>
                                <source
                                    srcset="../img/sale/watch-sale-des-21.jpg 1x,
                                            ../img/sale/watch-sale-des-22.jpg 2x"
                                    media="(min-width: 1280px)"
                                />
                                <source
                                    srcset="../img/sale/watch-sale-tab-21.jpg 1x,
                                            ../img/sale/watch-sale-tab-22.jpg 2x"
                                    media="(min-width: 768px)"
                                />
                                <source
                                    srcset="../img/sale/watch-sale-mob-21.jpg 1x,
                                            ../img/sale/watch-sale-mob-22.jpg 2x"
                                    media="(max-width: 374px)"
                                />
                                <img src="../img/sale/watch-sale-mob-21.jpg" alt="watch" width="80">
                            </picture>
                        </li>
                        <li class="sale-watch-1">
                            <picture>
                                <source
                                    srcset="../img/sale/watch-sale-des-31.jpg 1x,
                                            ../img/sale/watch-sale-des-32.jpg 2x"
                                    media="(min-width: 1280px)"
                                />
                                <source
                                    srcset="../img/sale/watch-sale-tab-31.jpg 1x,
                                            ../img/sale/watch-sale-tab-32.jpg 2x"
                                    media="(min-width: 768px)"
                                />
                                <source
                                    srcset="../img/sale/watch-sale-mob-31.jpg 1x,
                                            ../img/sale/watch-sale-mob-32.jpg 2x"
                                    media="(max-width: 374px)"
                                />
                                <img src="./img/sale/watch-sale-mob-31.jpg" alt="watch" width="80">
                            </picture>
                        </li>
                        <li class="sale-watch-1">
                            <picture>
                                <source
                                    srcset="../img/sale/watch-sale-des-41.jpg 1x,
                                            ../img/sale/watch-sale-des-42.jpg 2x"
                                    media="(min-width: 1280px)"
                                />
                                <source
                                    srcset="../img/sale/watch-sale-tab-41.jpg 1x,
                                            ../img/sale/watch-sale-tab-22.jpg 2x"
                                    media="(min-width: 768px)"
                                />
                                <source
                                    srcset="../img/sale/watch-sale-mob-41.jpg 1x,
                                            ../img/sale/watch-sale-mob-42.jpg 2x"
                                    media="(max-width: 374px)"
                                />
                                <img src="../img/sale/watch-sale-mob-41.jpg" alt="watch" width="80">
                            </picture>
                        </li>
                    </ul>
                    <picture>
                        <source
                            srcset="../img/sale/watch-sale-des-51.jpg 1x,
                                    ../img/sale/watch-sale-des-52.jpg 2x"
                            media="(min-width: 1280px)"
                        />
                        <source
                            srcset="../img/sale/watch-sale-tab-51.jpg 1x,
                                    ../img/sale/watch-sale-tab-52.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="../img/sale/watch-sale-mob-51.jpg 1x,
                                    ../img/sale/watch-sale-mob-52.jpg 2x"
                            media="(max-width: 374px)"
                        />
                        <img src="../img/sale/watch-sale-mob-51.jpg" alt="watch" width="211">
                    </picture>
                </div>
                <div class="sale-description">
                    <div class="sale-name-tov">
                        <h3 class="sale-name-title">Greenlane Watch By Police For MenHT</h3>
                        <p class="sale-text">Product tag: PEWJK2227003</p>
                        <p class="sale-cost">€700<span class="sale-cost-2">€1000</span></p>
                    </div>
                    <div class="sale-characteristic-1">
                        <h2 class="sale-characteristic-title">Description</h2>
                        <p class="sale-text">Richly detailed with an understated design - the Police Men’s 
                            Greenlane watch features a versatile multifunction design that fits 
                            effortlessly into work and play. The steel case is adorned with a 
                            semi-transparent black dial. The timepiece exhibits a contrast through 
                            a black IP bracelet with matching crown and pushers.</p>
                    </div>
                    <div class="sale-characteristic-2">
                        <h2 class="sale-characteristic-title">DETAILS & FEATUREStion</h2>
                        <p class="sale-text">Gender: man<br>
                            Size: 46x54.5mm<br>
                            Case Colour: Steel<br>
                            Band Material: Metal<br>
                            Case Material: Metal<br>
                            Features: Multifunction<br>
                            Water Resistant: 5 (ATM)<br>
                            Band Colour: Steel</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>