/* MOBILE */

.container-about {
	padding-top: 40px;
	padding-bottom: 40px;
}

@media screen and (min-width: 375px) {
	.container-about {
		width: 375px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container-about-wrap {
	width: 335px;
}

.container-about-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.section-about-title {
	font-weight: 600;
	font-size: 32px;
	line-height: 1.25;
	letter-spacing: -0.02em;
	color: #1E2827;
	margin-bottom: 40px;
}

.section-about-subtitle-one {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	color: #141414;
	margin-bottom: 20px;
}

.section-about-subtitle-two {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	color: #141414;
	margin-bottom: 40px;
}

.about-gif {
	object-fit: cover;
}


/* TABLET */

@media screen and (min-width: 768px) {
.container {
	width: 768px;
	padding-left: 32px;
	padding-right: 32px;
	}
}

/* @media screen and (min-width: 768px) {
	.about > .container-about,
	.container-about-wrap {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}
}    */
.container-about-wrap {
	width: 704px;
}

/* .container-about-wrap {
	display: flex;
	flex-direction: row;
	gap: 20px;
}   */

.section-about-title {
	  width: 174px;
		margin-bottom: 0;
}

.section-about-subtitle-one {
		width: 250px;
		margin-bottom: 0;
}

.section-about-subtitle-two {
		width: 220px;
		margin-bottom: 0;
}

.section-about-title {
  width: 174px;
	font-weight: 600;
	font-size: 40px;
	line-height: 1.1;
	letter-spacing: -0.02em;
	color: #1E2827;
} 

/* DESCTOP */

@media screen and (min-width: 1280px) {
.container {
		width: 1176px;
		padding: 0 132px;
	  }
	}  




