.backdrop {
    position: fixed;
    top: -20px;
    height: 100%;
    width: 100%;
    z-index: 100;
    transition: opacity 1s linear, visibility 1s linear;
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    width: 100%;
    height: 1073px;
    left: 50%;
    top: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
      0px 0px 130.6px rgba(0, 0, 0, 0.037963),
      0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
      0px 0px 36.2375px rgba(0, 0, 0, 0.025),
      0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
      0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
    isolation: isolate;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-top: 12px;
    margin-right: -8px;
    border: none;
    background-color: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-modal-svg {
    border: 1.3px solid #141414;
    line-height: 100%;
  }
  .modal-block1-list {
    list-style: none;
    padding-left: 9.5px;
    padding-right: 9.5px;
    margin-top: 8px;
    margin-bottom: 40px;
  }
  .modal-block1-item {
    margin: 0 auto;
    max-width: 276px;
  }
  .modal-block1-item-img {
    margin-top: 26px;
    background-image: url(./img/buy-now/395tube-mob.jpg);
  }
  .modal-block1-description {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }
  .modal-block1-title {
    margin-top: 39px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Epilogue";
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
    font-weight: 400;
  }
  .modal-block1-text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
  }
  .modal-block2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 578px;
    margin: 0;
  }
  .modal-block2-form {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 578px;
    margin: 0 auto;
    max-width: 295px;
  }
  .modal-block2-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 295px;
  }
  .modal-block2-title {
    display: block;
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #141414;
  }
  .modal-block2-input-wrap {
    position: relative;
    padding-bottom: 18px;
  }
  .modal-block2-input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    width: 295px;
    height: 42px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
  }
  .modal-block2-input::placeholder {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
    display: flex;
  }
  .comments {
    width: 100%;
    max-width: 295px;
    min-height: 170px;
    padding: 12px 16px;
    resize: none;
    margin-bottom: 20px;
  }
  input:invalid {
    border-color: red;
    border-radius: 10px;
  }
  input,
  input:valid {
    border: 1px solid rgba(20, 20, 20, 0.5);
  }
  .submit-modal-btn {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 18px 116px;
    width: 295px;
    min-height: 50px;
    background: #1e2827;
    border-radius: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 12px;
  }
  .modal-bottom-text {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.4);
    margin: 0 auto;
  }
  .modal-bottom-link {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.4);
  }
  .modal-bottom-text br {
    display: none;
  }
  @media screen and (min-width: 375px) {
    .modal {
      max-width: 335px;
      margin-left: auto;
      margin-right: auto;
    }
  
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .modal-block1-item-img {
        background-image: url(./img/buy-now/395tube-mob@2x.jpg);
      }
    }
  }
  
  /*  768   */
  @media screen and (min-width: 768px) {
    .modal {
      max-width: 744px;
      max-height: 670px;
      padding: 40px;
    }
    .close-modal-btn {
      top: -32px;
      right: -10px;
      width: 24px;
      height: 24px;
      position: relative;
      padding: 6px;
    }
    .close-modal-icon {
      width: 12px;
      height: 12px;
    }
    .modal-block1 {
      float: left;
      width: 276px;
      height: 375px;
      margin-top: -40px;
    }
    .modal-block1-list {
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    .modal-block1-item-img {
      margin-top: 26px;
      margin-bottom: 25px;
      background-image: url(./img/buy-now/395tube-tab.jpg);
    }
    .modal-block1-title {
      margin-top: 14px;
    }
  
    .modal-block2 {
      margin-top: -32px;
      margin-right: -10px;
    }
    .modal-block2-form {
      max-width: 368px;
      margin-left: 20px;
    }
    .modal-block2-label {
      width: 100%;
    }
    .modal-block2-title {
      font-size: 14px;
      line-height: 1.29;
      padding: 0;
    }
    .modal-block2-input {
      width: 368px;
    }
    .modal-block2-input::placeholder {
      font-size: 16px;
      line-height: 1.12;
    }
    .comments {
      max-width: 368px;
      min-height: 166px;
    }
    .submit-modal-btn {
      width: 368px;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .modal-block1-item-img {
        background-image: url(./img/buy-now/395tube-tab@2x.jpg);
      }
    }
  }
  
  /*   1280  */
  @media screen and (min-width: 1280px) {
    .modal {
      max-width: 904px;
      max-height: 694px;
    }
    .modal-block1-item-img {
      background-image: url(./img/buy-now/395tube-desk.jpg);
    }
    .modal-block2 {
      height: 614px;
    }
    .modal-block2-form {
      max-width: 508px;
      margin-left: 40px;
      height: 100%;
    }
    .modal-block2-input {
      width: 508px;
    }
    .modal-block2-input-wrap {
      padding-bottom: 20px;
    }
    .comments {
      max-width: 508px;
      min-height: 166px;
      margin-bottom: 40px;
    }
    .submit-modal-btn {
      width: 508px;
    }
    .modal-bottom-text {
      margin-left: 0;
    }
    .modal-bottom-text br {
      display: block;
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .modal-block1-item-img {
        background-image: url(./img/buy-now/395tube-desk@2x.jpg);
      }
    }
  }