/* _________________section Catalog_________________ */
.catalog {
  padding-top: 40px;
  padding-bottom: 40px;
}

.catalog-tytle {
  width: 153px;
  height: 44px;
  font-size: 32px;
  line-height: calc(40 / 32);
  letter-spacing: -0.02em;
  color: #1e2827;
  margin-bottom: 40px;
}

.catalog-watches-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.catalog-watches-item {
  position: relative;
}

.catalog-overlay-link {
  display: block;
}

.catalog-icons {
  display: none;
}

.watches-overlay {
  position: relative;
  margin-bottom: 14px;
  overflow: hidden;
}

.catalog-overlay-info {
  position: absolute;
  top: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: #1e2827;
  border-radius: 8px;
  transform: translateY(100%);
  transition: transform 300ms linear;
  z-index: 10;
}

.catalog-overlay-link:hover .catalog-overlay-info {
  transform: translate(0);
  transition: transform 300ms linear;
}

.overlay-description {
  height: 18px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.overlay-description-text {
  width: 236px;
  height: 53px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  margin-top: 10px;
}

.overlay-gender-text {
  width: 162px;
  height: 144px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

.catalog-watches-tytle {
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.catalog-watches-price {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}

.buy-now-btn {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #ffffff;
  text-transform: uppercase;
  padding: 14px 28px;
  min-width: 108px;
  height: 42px;
  background: #1e2827;
  border-radius: 8px;
  border: transparent;
  display: block;
  margin-left: auto;
  margin-top: 40px;
  text-align: center;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  border: 1px solid #ffffff;
}

.catalog-watches-item-desktop {
  display: none;
  position: relative;
}

@media screen and (min-width: 375px) {
  .catalog-container {
    width: 375px;
  }

  .catalog-watches-tytle {
    width: 257px;
  }
  .catalog-overlay-info {
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .catalog-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .catalog {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .catalog-watches-list {
    flex-direction: row;
    gap: 40px 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .catalog-tytle {
    font-size: 40px;
    line-height: calc(44 / 40);
  }
  .catalog-icons {
    position: absolute;
    display: inline-block;
    stroke-width: 0;
    stroke: rgba(20, 20, 20, 0.1);
    fill: #ffffff;
    right: 14px;
    top: 14px;
    z-index: 1;
  }
  .buy-now-btn {
    width: 122px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-container {
    width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .catalog {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .catalog-watches-item {
    width: 276px;
    height: 375px;
  }
  .watches-overlay {
    height: 325px;
  }
  .catalog-overlay-info {
    padding: 26px 20px 20px 20px;
  }
  .catalog-watches-item-desktop {
    display: block;
    width: 276px;
    height: 375px;
  }
  .catalog-watches-list {
    gap: 64px 24px;
  }
  .catalog-overlay-link {
    height: 375px;
  }

  .catalog-tytle {
    margin-bottom: 64px;
  }
  .catalog-icons {
    display: none;
  }
  .buy-now-btn {
    margin-top: 80px;
  }
}
