:root {
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*428px, 768px Ñ– 1158px*/

/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Epilogue', sans-serif;
    color: #FFFFFF;
    background-color: #141414;
    margin: 0;
}

textarea {
    resize: none;
}

:hover,
:focus {
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration);
} */

.header-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-link {
  text-decoration: none;
}

.header-a {
  cursor: pointer;
}

.header-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .header-container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

/*HEADER*/

header {
  display: block;
  background-color: #141414;
  width: 100%;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  padding-top: 34px;

  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #ffffff;

  text-decoration: none;
}

.header-logo-img {
  width: 14px;
  height: 14px;
  fill: #ffffff;
}

.header-logo-text {
  margin-left: 4px;
  padding-top: 2px;
}

@media screen and (min-width: 768px) {
  .header-logo-img {
    width: 19px;
    height: 19px;
  }
}

.header-menu {
  display: none;
  margin-left: 80px;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    padding-top: 38px;
  }
}

.header-menu-item:not(:last-child) {
  margin-right: 40px;
}

/* .header-menu-item {
  padding-top: 38px;
  padding-bottom: 18px;
} */

.header-menu-link {
  display: block;

  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;

  text-transform: uppercase;

  color: #ffffff;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.header-menu-link:hover::after,
.header-menu-link:focus::after {
  background-color: #404bbf;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

/*contacts*/

.header-address {
  display: none;
}

.header-contact-link {
  display: flex;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background-color: #1e2827;
  border-radius: 8px;
  padding: 18px 35px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-address {
    display: block;
    padding-top: 20px;
  }
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: #404bbf;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu-open-button {
  position: absolute;
  top: 25px;
  right: 8px;
  width: 45px;
  /* margin-top: 19px; */
  height: 33px;
  border: none;
  background-color: transparent;
}

.mobile-menu-open-icon {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-button {
    display: none;
  }
}
