.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
<<<<<<< HEAD

.header-logo-img {
  width: 14px;
  height: 14px;
  fill: #FFFFFF;
}

.header-logo-text {
  margin-left: 4px;
  padding-top: 2px;
}

@media  screen and (min-width: 768px) {
  .header-logo-img {
      width: 19px;
      height: 19px;
  }
}


.header-menu {
  display: none;
  margin-left: 80px;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
  }
}

.header-menu-item:not(:last-child) {
  margin-right: 40px;

}

.header-menu-item{
  padding-top: 38px;
  padding-bottom: 18px;
}

.header-menu-link {
  display: block;
 

  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;

  text-transform: uppercase;

  color: #FFFFFF;
}


.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.header-menu-link:hover::after,
.header-menu-link:focus::after {
  background-color: #404bbf;
  transition: all var(--transition-duration) var(--transition-timing-function);
}


/*contacts*/

.header-address {
  display: none;
}

.header-contact-link {
  display: flex;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  
  color: #FFFFFF;
  background-color: #1E2827;
  border-radius: 8px;
  padding: 18px 35px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-address {
    display: block;
    margin-top: 20px;
  }
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: #404bbf;
  transition: all var(--transition-duration) var(--transition-timing-function);
}



.mobile-menu-open-button {
  position: absolute;
  top: 25px;
  right: 8px;
  width: 45px;
  /* margin-top: 19px; */
  height: 33px;
  border: none;
  background-color: transparent;
}

.mobile-menu-open-icon {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-button {
    display: none;
  }
}

=======
>>>>>>> parent of cbd09bb (Merge pull request #10 from guk755/header2)
