/* MOBILE */

@media screen and (min-width: 375px) {
	.container {
		width: 335px;
	}

	.new-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-right: auto;
		gap: 20px;
	}
}

.section-new-subtitle {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.06em;
	color: rgba(20, 20, 20, 0.4);
	margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
	.section-new-title {
		width: 335px;
		height: 120px;
		margin-bottom: 40px;
	}
	} 


.section-new-title {
	font-weight: 600;
	font-size: 32px;
	line-height: 1.25;
	letter-spacing: -0.02em;
	color: #141414;
}

/* TABLET */

@media screen and (min-width: 768px) {
	.container {
		width: 768px;
		padding: 0 32px;
	}
}

@media screen and (min-width: 768px) {
	.section-new-title {
		width: 444px;
		height: 88px;
		margin-bottom: 40px;
	}
} 
.section-new-subtitle {
	line-height: 1.17;
	letter-spacing: 0.06em;
	color: rgba(20, 20, 20, 0.4);
	margin-bottom: 8px;
}

.section-new-title {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.1;
	letter-spacing: -0.02em;
  color: #1E2827;
}

.new-list {
	display: flex;
	justify-content: center;
}

/* DESCTOP */

@media screen and (min-width: 1280px) {
	.container {
		max-width: 1176px;
		padding-left: 132;
		padding-right: 132px;
	}
	.new-list {
		display: flex;
		justify-content: center;
		gap: 24px;
	}
	.section-new-title {
		width: 444px;
		height: 88px;
		margin-bottom: 80px;
	} 
}

.section-new-subtitle {
	line-height: 1.17;
	letter-spacing: 0.06em;
	color: rgba(20, 20, 20, 0.4);
	margin-bottom: 8px;
}


