/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Epilogue light'),
    url(../fonts/Epilogue-Light.woff2) format('woff2'),
    url(../fonts/Epilogue-Light.ttf) format(ttf);
}

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Epilogue Regular'),
    url(../fonts/Epilogue-Regular.woff2) format('woff2'),
    url(../fonts/Epilogue-Regular.ttf) format(ttf);
}

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Epilogue SemiBold'),
    url(../fonts/Epilogue-SemiBold.woff2) format('woff2'),
    url(../fonts/Epilogue-SemiBold.ttf) format(ttf);
}

body {
  background-color: #ffffff;
  font-family: 'Epilogue', sans-serif;
  color: #141414;
}

.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
