/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./burger-menu.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./catalog.css');
@import url('./new-watches.css');
@import url('./sale.css');
@import url('./footer.css');
@import url('./buy-now.css');

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Epilogue light'),
    url(../fonts/Epilogue-Light.woff2) format('woff2'),
    url(../fonts/Epilogue-Light.ttf) format(ttf);
}

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Epilogue Regular'),
    url(../fonts/Epilogue-Regular.woff2) format('woff2'),
    url(../fonts/Epilogue-Regular.ttf) format(ttf);
}

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Epilogue SemiBold'),
    url(../fonts/Epilogue-SemiBold.woff2) format('woff2'),
    url(../fonts/Epilogue-SemiBold.ttf) format(ttf);
}

body {
  background-color: #ffffff;
  font-family: 'Epilogue', sans-serif;
  color: #141414;
}

.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
